version: '3.8'

services:
  api:
    build: .
    environment:
      PORT: ${WEB_PORT}
      JDBC_URL: ${WEB_DB_URL}
      DATABASE: ${WEB_DATABASE}
      DB_USERNAME: ${WEB_DB_USERNAME}
      DB_PASSWORD: ${WEB_DB_PASSWORD}
    ports:
      - "8080:8080"
#    depends_on:
#      db:
#        condition: service_healthy
  db:
    image: postgres:latest
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${WEB_DATABASE}
      POSTGRES_USER: ${WEB_DB_USERNAME}
      POSTGRES_PASSWORD: ${WEB_DB_PASSWORD}
    ports:
      - "5432:5432"
#    healthcheck:
#      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
#      interval: 1s